[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = git://github.com/junegunn/vim-easy-align.git
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = git://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = git://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = git://github.com/junegunn/rainbow_parentheses.vim.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "bundle/papercolor"]
	path = bundle/papercolor
	url = git://github.com/NLKNguyen/papercolor-theme.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = git://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/grepper"]
	path = bundle/grepper
	url = git://github.com/mhinz/vim-grepper.git
[submodule "bundle/gutentags"]
	path = bundle/gutentags
	url = git://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/vim-clang"]
	path = bundle/vim-clang
	url = git://github.com/justmao945/vim-clang.git
[submodule "bundle/signature"]
	path = bundle/signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "bundle/startify"]
	path = bundle/startify
	url = git://github.com/mhinz/vim-startify.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = git://github.com/junegunn/fzf.vim.git
[submodule "bundle/acme-colors"]
	path = bundle/acme-colors
	url = git://github.com/plan9-for-vimspace/acme-colors.git
[submodule "bundle/dhall-vim"]
	path = bundle/dhall-vim
	url = git://github.com/vmchale/dhall-vim.git
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = git://github.com/justinmk/vim-sneak.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = git://github.com/w0rp/ale.git
[submodule "bundle/vim-illuminate"]
	path = bundle/vim-illuminate
	url = git://github.com/RRethy/vim-illuminate.git
